<html>

<head>
<h1>待做菜品</h1>

<table id="tab1" border="1" width="500" cellspacing="1" >
	<thead>
	<tr>
			<th>编号</th>
			<th>名称</th>
			<th>数量</th>
			<th>操作</th>
			</tr>
		</thead>
		<tbody>
		 		<?php  foreach($food as $item): ?>
		 	<tr>
		 		<td><?php echo $item['food_id'] ?></td>
				<td><?php echo $item['food_name'] ?></td>
				<td><?php echo $item['to_do'] ?></td>
				<td><a href="<?php echo base_url('cook/C_home/finish_food').'?'.'id='.$item['food_id']; ?>" style="color: #8B636C" >完成</a></td>
			</tr>
		<?php endforeach;?>
		</tbody>
</table>

</head>
</html>