<html>

<head>
<h1>待做菜品</h1>
<!-- 我将传给你一组json，你将他们解析之后填入下面的表格中，或者可以设计成更好看的样子 -->
<table id="tab1" border="1" width="500" cellspacing="1" >
	<thead>
	<tr>
			<th>编号</th>
			<th>名称</th>
			<th>数量</th>
			<th>操作</th>
			</tr>
		</thead>
		<tbody>
		 		<?php  foreach($food as $item): ?>
		 	<tr>
		 		<td><?php echo $item['food_id'] ?></td>
				<td><?php echo $item['food_name'] ?></td>
				<td><?php echo $item['to_do'] ?></td>
				<!-- 点击这个完成按钮，跳出一个选择数量的弹框，数量可自行修改（类似input），点击确认后将这个值和food_id字段一起传给我 -->
				<td><a href="<?php echo base_url('cook/C_home/finish_food').'?'.'id='.$item['food_id']; ?>" style="color: #8B636C" >完成</a></td>
			</tr>
		<?php endforeach;?>
		</tbody>
</table>

</head>
</html>