<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>前台</title>
	<style type="text/css">
	*{
		margin: 0;
		padding: 0;
	}
	th,td{
		border:1px solid black;
	}
	span{
		display: inline-block;
		width: 30px;
		height: 30px;
		background:rgba(255,255,255,0.8);
		margin-left:20px;
	}
	table{
		margin: 10px auto;
	}
	</style>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/' ?>css/res.css">

</head>

<body style="background-color:brown">
	<div  class="top">
		<div class="top-l"><img src=""></div>
		<div  class="top-r"><h1>在线点餐</h1></div>
	</div>
	<div class="desk">
		<table width="400" height="400" style="border:1px solid black">
			<tr>
			<th>
				叫号
			</th>
			<td >
				二人桌<br>
				<span></span><span></span><span></span><span></span><span></span>
				<br>
				<span></span><span></span><span></span><span></span><span></span> A区
			</td>
			</tr>
			<tr>
			<th>
				收银
			</th>
			<td >
				四人桌<br>
				<span></span><span></span><span></span><span></span><span></span>
				<br>
				<span></span><span></span><span></span><span></span><span></span> B区
			</td>
			</tr>
			<tr>
			<th>
				历史账目
			</th>
			<td >
				大桌<br>
				<span></span><span></span><span></span><span></span><span></span>
				<br>	
				<span></span><span></span><span></span><span></span><span></span> C区		
			</td>
			</tr>
			<tr>
			<th>
			      \
			</th>
			<td >
				包间<br>
				<span></span><span></span><span></span><span></span><span></span>
				<br>
				<span></span><span></span><span></span><span></span><span></span> D区
			</td>
			</tr>

		</table>
	</div>